/University_of_Illinois
/UMich
/UF
/converted
/old_images
/images
/training_data
codes.py
fix_names_illinois.ipynb
illinois_scraping*
umich_scraping.ipynb
uf_scraping*.ipynb
pre_processing.ipynb
GrayBook1990*
temp.pdf
missed_illinois_1990.csv
testing_merged_2003.csv
table_debug*
~*
test*
*.xlsx
rotated_temp.pdf
ocr_result.pdf
pdf_scrape.ipynb
.DS_Store
.ipynb_checkpoints
__pycache__