/University_of_Illinois
/UMich
/converted
/images
illinois_scraping.ipynb
illinois_scraping_v2.ipynb
umich_scraping.ipynb
total_missed_illinois.xlsx
pdf_scrape.ipynb
test.xlsx
.DS_Store
.ipynb_checkpoints
__pycache__